<div class="mt-4">
    <form method="POST" action="/contact" >
      <div class="form-group">
        <label for="search-input">the information neer search</label>
        <input type="search" class="form-control" name="q" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the keyword">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>